a,
a:focus,
a:hover {
  color: #fff;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background:
    linear-gradient(27deg, #EAEAEA 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #EAEAEA 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #DDDDDD 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #DDDDDD 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #E4E4E4 10px, transparent 10px),
    linear-gradient(#E2E2E2 25%, #E5E5E5 25%, #E5E5E5 50%, transparent 50%, transparent 75%, #DBDBDB 75%, #DBDBDB);
    background-color: #ECECEC;
    background-size: 20px 20px;
}

html,
body {
  height: 94%;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
  font-family: 'Nobile', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.9);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  color: #333333;
  padding: 10px 20px;
  font-weight: bold;
  background:
    linear-gradient(27deg, #EAEAEA 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #EAEAEA 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #DDDDDD 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #DDDDDD 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #E4E4E4 10px, transparent 10px),
    linear-gradient(#E2E2E2 25%, #E5E5E5 25%, #E5E5E5 50%, transparent 50%, transparent 75%, #DBDBDB 75%, #DBDBDB);
    background-color: #ECECEC;
    background-size: 20px 20px;
}

#footer {
  color: #CCCCCC;
  position: relative;
    height: auto;
    bottom: 0;
    width: 100%;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;;
}

#footerText {
  color: #fff;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

input {
  color: #CCCCCC;
}

.modal-body {
  color: #fff;
}

.gifs {
  height: 250px;
  width: 250px;
  border-radius: 50px;
}

.buttonss {
  width: 300px;
}

#simba, #no_energy, #cat {
  position: relative;
  float: left;
}

#sloth, #hyped, #babies {
  position: relative;
  float: right;
}

#loginButton, .modal-content, .buttonss, #goToPlayer, #logout {
  color: #333333;
  background:
    linear-gradient(27deg, #EAEAEA 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #EAEAEA 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #DDDDDD 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #DDDDDD 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #E4E4E4 10px, transparent 10px),
    linear-gradient(#E2E2E2 25%, #E5E5E5 25%, #E5E5E5 50%, transparent 50%, transparent 75%, #DBDBDB 75%, #DBDBDB);
    background-color: #ECECEC;
    background-size: 20px 20px;
}

.modal-body {
  color: #333333;
}
input[type="text"], input[type="number"] {
  text-align: center;
  color: #333333;
}

#jumbo {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

#titleA {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bold;
}

#follow {
  margin-bottom: 15px;
}

#login {
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bigContainer {
  height: 100%;
  width: auto;
}

#webPlayerHolder {
  height: 75%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

#webPlayer {
  height: 100%;
  width: 100%;
}
